{% extends 'app.html' %}


{% block title %}Home page{% endblock %}

{% block header %}
    <section id="nav-bar">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
              <a class="navbar-brand" href="{{url_for( 'page.home' )}}"><span class="feedback-color">FEEDBACK</span>FORM</a>

              <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                  data-bs-target="#navbarNav" aria-controls="navbarNav"
                  aria-expanded="false" aria-label="Toggle navigation">
                <!-- <span class="navbar-toggler-icon"></span> -->
                <i class="fa-solid fa-bars"></i>
              </button>

              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{{url_for( 'page.home' )}}">HOME</a>
                  </li>
                  {% if current_user.is_authenticated %}
                    <!-- <li class="dropdown">                                                                                                                                               
                        <a href="#" class="dropdown-toggle"
                          data-toggle="dropdown"
                          role="button" aria-haspopup="true"
                          aria-expanded="false">Account
                          <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url_for('user.settings') }}">Settings</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">Session</li>
                            <li><a href="{{ url_for('user.logout') }}">Log out</a></li>
                        </ul>
                    </li> -->
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        ACCOUNT
                      </a>
                      <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                        <li><a class="dropdown-item" href="{{ url_for('user.settings') }}">Settings</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('user.logout') }}">Log Out</a></li>
                        <!-- <li><a class="dropdown-item" href="#">Something else here</a></li> -->
                      </ul>
                    </li>
                  {% else %}
                    <li class="nav-item">
                      <a class="nav-link" href="{{ url_for('user.login') }}">LOG IN</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{{ url_for('user.signup') }}">SIGN UP</a>
                    </li>
                  {% endif %}
                </ul>
<!--
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for( 'feedback.index' ) }}">FEEDBACK</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for( 'page.about_us' ) }}">ABOUT US</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for( 'feedback.contact' ) }}">CONTACT</a>
                  </li>
                </ul>
-->
              </div>
            </div>
        </nav>
    </section>

{% endblock %}

{% block body%}
    <!---------------------Banner---------------->
    <section id="banner">
        <div class="container">
         <div class="row">
             <div class="col-md-6">
               <h3 class="banner-title">YOUR VOICE, OUR COMMITMENT</h3>
               <p>Welcome to our feedback portal! Your opinion matters to us. We strive to provide you with
                 the best shopping experience and your feedback helps us achieve that.
                 Did one of our employees go the extra mile for you? Or do you have a suggestion on how we can 
                 serve you better? This is the place to share it
               </p>
               <a href="{{url_for( 'feedback.index' )}}" class="btn btn-primary btn-lg m-3 p-3" role="button">GIVE US A FEEDBACK</a>
             </div>
             <div class="col-md-6 text-center">
                <img src="{{ url_for('static', filename='images/personal.svg') }}" alt="" class="img-fluid"> 
             </div>
         </div>
        </div> 
     </section>
 
 <!----------------------------service section-------------------------->
 <section id="service">
     <div class="container text-center">
         <h1 class="title">FEEDBACKS FROM CUSTOMERS</h1>
         <div class="row text-center">
            <div class="col-md-4 services">
             <img src="{{ url_for('static', filename='images/feedback3.jpg') }}" alt="" class="service-img">
             <h4>Testimony 1</h4>
             <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum explicabo, deleniti ipsa eos veritatis libero!</p>
            </div>
            <div class="col-md-4 services">
             <img src="{{ url_for('static', filename='images/feedback1.jpg') }}" alt="" class="service-img">
             <h4>Testimony 2</h4>
             <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum explicabo, deleniti ipsa eos veritatis libero!</p>
            </div> 
            <div class="col-md-4 services">
             <img src="{{ url_for('static', filename='images/feedback2.jpg') }}" alt="" class="service-img">
             <h4>Testimony 3</h4>
             <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum explicabo, deleniti ipsa eos veritatis libero!</p>
            </div>  
         </div>
         <a href="{{url_for( 'feedback.index' )}}" class="btn btn-primary btn-lg m-3 p-3" role="button">Review Us</a>
     </div>  
 </section>

 <section id="about-form" class="py-5">
  <div class="container text-center mb-4">
      <h1 class="display-4"></h1>
  </div>
  
  <div class="container">
      <div class="row">
          <div class="col-lg-4 col-md-6">
          <h3 class="banner-title">ABOUT US</h3>
         <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus quas optio reiciendis deleniti voluptatem facere sequi, quia, est sed dicta aliquid quidem facilis culpa iure perferendis? Dolor ad quia deserunt.

          Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus quas optio reiciendis deleniti voluptatem facere.
         </p> 
         <a href="{{url_for( 'feedback.contact' )}}" class="btn btn-primary btn-lg m-3 p-3" role="button">Contact Us</a>
          </div>
          <div class="col-md-6 text-center mt-4">
          <img src="{{ url_for('static', filename='images/about.svg') }}" alt="" class="img-fluid"> 
       </div>
      </div>
  </div>
</section>>
{% endblock %}
