{% extends "base.html" %}

{% block title %}{% endblock%}

{% block header %}
        <section id="nav-bar">                                                                                                                                                      
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
              <a class="navbar-brand" href="{{url_for( 'page.home' )}}"><span class="feedback-color">FEEDBACK</span>FORM</a>
 
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                  data-bs-target="#navbarNav" aria-controls="navbarNav"
                  aria-expanded="false" aria-label="Toggle navigation">
                <!-- <span class="navbar-toggler-icon"></span> -->
                <i class="fa-solid fa-bars"></i>
              </button>
 
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{{url_for( 'page.home' )}}">HOME</a>
                  </li>
                  <!--  <ul class="nav navbar-nav navbar-rigt"> -->
                    {% if current_user.role == "admin" %}
                    <!-- <li> -->
                        {% include "admin/_menu.html" %}
                        <!-- </li> -->
                    {% endif %}
                    <!-- </ul> -->
                  {% if current_user.is_authenticated %}
                    <!-- <li class="dropdown">                                                                                                                                       
                        <a href="#" class="dropdown-toggle"
                          data-toggle="dropdown"
                          role="button" aria-haspopup="true"
                          aria-expanded="false">Account
                          <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url_for('user.settings') }}">Settings</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">Session</li>
                            <li><a href="{{ url_for('user.logout') }}">Log out</a></li>
                        </ul>
                    </li> -->
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        ACCOUNT
                      </a>
                      <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                        <li><a class="dropdown-item" href="{{ url_for('user.settings') }}">Settings</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('user.logout') }}">Log Out</a></li>
                        <!-- <li><a class="dropdown-item" href="#">Something else here</a></li> -->
                      </ul>
                    </li>
                  {% else %}
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('user.login') }}">LOG IN</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('user.signup') }}">SIGN UP</a>
                  </li>
                  {% endif %}
                </ul>
<!--
                  <li class="nav-item">
                    <a class="nav-link" href="{{url_for( 'feedback.index' )}}">FEEDBACK</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{url_for( 'page.about_us' )}}">ABOUT US</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{url_for( 'feedback.contact' )}}">CONTACT</a>
                  </li>
                </ul>
-->
              </div>
            </div>
        </nav>                                                                                                                                                                  
    </section>
{% endblock %}


<!-- {% block footer %}
    <li class="nav-item">
        <a class="nav-link" href="{{url_for( 'feedback.index' )}}">FEEDBACK</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for( 'page.about_us' )}}">ABOUT US</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for( 'feedback.contact' )}}">CONTACT</a>
    </li>
{% endblock %} -->
