{% extends 'app.html' %}

{% block title %}Contact Us{% endblock %}

{% block body %}
    <section id="feedback-form" class="py-5">
        <div class="container text-center mb-4">
            <h1 class="display-4">Contact Us</h1>
        </div>
        
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6">
                    <form method="post" action="{{ url_for('feedback.contact') }}">
                        {{ form.hidden_tag() }}
                        <div class="form-group">
                            {{ form.name.label(class="form-label") }}
                            {{ form.name(class="form-control", placeholder="Your Name") }}
                        </div>
                        <div class="form-group">
                            {{ form.email.label(class="form-label") }}
                            {{ form.email(class="form-control", placeholder="Your Email") }}
                        </div>
                        <div class="form-group">
                            {{ form.message.label(class="form-label") }}
                            {{ form.message(class="form-control", placeholder="Your Message", rows="4") }}
                        </div>
                        <button type="submit" class="btn btn-primary btn-lg m-3 p-3">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
